.lobbySlot {
  height: 50px;
  width: 20%;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  min-width: fit-content;
  margin-left: 40%;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 10px;
}

.lobbySlot.used {
  background-color: lightblue;
  border-color: dark;
}

.lobbySlot.open {
  background-color: lightgray;
  border-color: darkslategray;
  border-style: dashed;
}

.lobbySlot.local {
  border-color: gold;
  background-color: lightyellow;
}

.inline-span {
  justify-content: left;
  align-items: center;
  display: flex;
}

.readyToggle {
  margin-left: 5px;
  height: 50px;
  margin-bottom: 5px;
}

.readyToggle.ready {
  border-color: darkgreen;
  background-color: lightgreen;
}
.readyToggle.notReady {
  border-color: darkred;
  background-color: palevioletred;
  border-style: dashed;
}

.articleButton {
  height: 50px;
  margin-bottom: 15px;
  width: 20%;
  min-width: fit-content;
  background-color: lightgray;
  border-style: solid;
}

.articleButton:hover {
  border: silver;
  border-style: groove;
  background-color: floralwhite;
}
